<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="color-scheme" content="light dark"/>
	<link rel="stylesheet" href="../static/css/dashboard.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>

	<title>Hello world!</title>
</head>
<body>
<article>
	<div th:replace="header :: header"></div>
	<h2>Dashboard</h2>
	<form th:action="@{/secured/addMatch}" method="get">
		<input type="submit" value="Ajouter un match"/>
	</form>
	<table>
		<tr>
			<th>Date</th>
			<th>Score</th>
			<th>Equipe 1</th>
			<th>Equipe 2</th>
			<th>Statut</th>
			<th></th>
		</tr>
		<tr th:each="match : ${matches}">
			<td th:text="${match.date}"></td>
			<td th:text="${match.score_team1} + ' - ' + ${match.score_team2}"></td>
			<td th:text="${match.name_team1}"></td>
			<td th:text="${match.name_team2}"></td>
			<td th:text="${match.status}"></td>
			<td><form th:action="@{/secured/modifyMatch}" method="get"><input type="hidden" th:name="'id'" th:value="${match.ID}"/><input  id="inputModifier" type="submit" value="Modifier"/></form></td>
		</tr>
	</table>

</article>
</body>
</html>