<header>
	<nav>
		<ul>
			<div th:if="${param.logout}">Vous avez été déconnecté.</div>
		</ul>
		<ul>
			<li>
				<strong><a href="/currentMatches">Matchs en cours</a></strong>
			</li>
			<li>
				<strong><a href="/finishedMatches">Matchs terminés</a></strong>
			</li>
			<li>
				<form th:if="${#authorization.expression('!hasRole(''ADMIN'')')}" th:action="@{/login}" method="get">
					<input type="submit" value="Connexion"/>
				</form>
			</li>
		</ul>
		<ul th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
			<li>
				<details class="dropdown">
					<summary>
						Account
					</summary>
					<ul dir="rtl">
						<li><a href="/secured/dashboard">Dashboard</a></li>
<!--						logout default adress-->
						<li><form th:action="@{/logout}" method="post"><input type="submit" value="Logout"/></form></li>
					</ul>
				</details>
			</li>
		</ul>
	</nav>
</header>

