<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
  <title>Hello world!</title>
</head>
<body>
<main class="container">
  <form th:action="@{/dashboard}" method="get">
    <input type="submit" value="Retour au dashboard"/>
  </form>
  <article>
    <header>
      <h1>Modifier un match</h1>
    </header>
    <form th:action="@{/modifyMatchPost}" method="post">
      <input type="hidden" th:name="'id'" th:value="${match.ID}"/>
      <label>
        Date:
        <input type="date" name="date" th:value="${match.getDate()}"required>
      </label>
      <br>
      <label>
        Score:
        <input type="text" name="score_team1" placeholder="Equipe 1" th:value="${match.getScore_team1()}" required>
        <input type="text" name="score_team2" placeholder="Equipe 2" th:value="${match.getScore_team2()}" required>
      </label>
      <br>
      <label>
        Nom de l'équipe 1 :
        <input type="text" name="name_team1" th:value="${match.getName_team1()}" required>
      </label>
      <br>
      <label>
        Nom de l'équipe 2 :
        <input type="text" name="name_team2" th:value="${match.getName_team2()}" required>
      </label>
      <br>
      <label>
        Statut:
        <select name="status" aria-label="Select" th:option="${match.getStatus()}"required>
          <option th:if="${match.getStatus() == null}" selected disabled value="">...</option>
          <option th:if="${match.getStatus() == 'En cours'}">En cours</option>
          <option th:if="${match.getStatus() == 'Terminé'}">Terminé</option>
        </select>
      </label>
      <label>
        Logo de l'équipe 1 :
        <input type="text" name="logo_team1" th:value="${match.getLogo_team1()}" required>
      </label>
      <label>
        Logo de l'équipe 2 :
        <input type="text" name="logo_team2" th:value="${match.getLogo_team2()}" required>
      </label>
      <br>
      <footer>
        <button type="submit">Modify</button>
      </footer>
    </form>
  </article>
</main>

</body>
</html>